@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
body {
    background-color: #15181c;
    padding:0px;
    margin:0px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.body {
    display:flex;
    align-items: center;
    justify-content: center;
    height:70vh;
    min-height:500px;
    padding:10px;
    margin-top:10vh;
}
.calculator {
    width:550px;
    min-width: 300px;
    background-color: grey;
    border-radius: 15px;
    padding:20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.display {
    background-color: whitesmoke;
    width: 100%;
    border-radius: 15px;
    text-align:end;
    overflow-wrap:break-word;
    min-height:9vh;
    
}
.afterdisplay {
    margin-top:5px;
    padding: 5px 12px;
    font-size: 2vmax;
}
.currentdisplay {
    padding: 0px 12px;
    font-size: 3vmax;
    margin-bottom: 10px;
}
.buttongrid {
    margin-top: 25px;
    width:100%;
    margin-bottom:15px;
}
.delbuttons {
    display:grid;
    grid-template-columns: auto auto;
    grid-gap:10px;
    font-family:sans-serif;
}
.clear {
    border-radius:15px;
    border-style: solid;
    padding: 15px 0px;
    font-size:3vmax;
    background-color:rgb(107, 107, 231);
}
.delete {
    border-radius:15px;
    border-style: solid;
    padding: 15px 0px;
    font-size: 3vmax;
    background-color:rgb(236, 98, 98);
}
.operbuttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top:10px;
}
.b {
    border-radius:15px;
    border-style: solid;
    padding: 10px 5px;
    font-family: 'Poppins', monospace;
}
button {
    font-size:3vmax;
    transition: scale 0.2s;
    border-color:#15181c;
}
button:hover {
    opacity:75%;
    scale:95%;
}
.footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:7vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #282c34;
    opacity:75%;
}
img {
    width:5vh;
    height:5vh;
    transition: transform .7s ease-in-out;
}
a {
    font-size:2vh;
    color:whitesmoke;
    display:flex;
    justify-content:center;
    align-items:center;
}
h1 {
    color: #15181c;
    font-size:3vmax;
    margin:0px;
}
h2 {
    font-family:sans-serif;
    color:whitesmoke; 
    font-size:5vmax;
    margin:0px;
}
img:hover {
    transform: rotate(360deg);
}